<nav class="navbar">
  <div class="container">
    <div class="brand">Employee Management System</div>
    <ul class="nav-links">
      <li>
        <a routerLink="/" routerLinkActive="active-link" class="nav-link"
          >Home</a
        >
      </li>
      <li>
        <a
          routerLink="/employees"
          routerLinkActive="active-link"
          class="nav-link"
          >Employees</a
        >
      </li>
      <li *ngIf="isLoggedIn" class="ms-5">
        <a mat-raised-button (click)="logout()">Logout</a>
      </li>
    </ul>
  </div>
</nav>
