html,
body {
  height: 100%;
}
body {
  margin: 0;
  background-color: #eee;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
@import "@angular/material/prebuilt-themes/indigo-pink.css";

.form-group {
  margin-bottom: 16px;
}
.form-group label {
  margin-bottom: 6px;
  font-weight: 500;
}
